<div class="search">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search city" name="city" (ngmodel)="cityName">
    </form>
</div>
<div class="container" *ngIf="weatherData">
    <div class="screen">
        <img src="../assets/hot.webp" *ngIf="weatherData.main.temp > 15">
        <img src="../assets/cold.webp" *ngIf="weatherData.main.temp < 15">
        <div class="screenData">
        <div class="location">{{ weatherData.name }}</div>
        <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>
    </div>
    </div>

    <div class="icons">
        <div class="info-label">
            More Information
        </div>
        <div class="info-container">
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/thermoco.png" alt="icon">
                    <span>min</span>
                </div>
                <div class="info-value">
                    {{weatherData.main.temp_min | number: '1.0-0'}}°C
                </div>
            </div>
            
            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/therm.png" alt="icon">
                    <span>max</span>
                </div>
                <div class="info-value">
                    {{weatherData.main.temp_max | number: '1.0-0'}}°C
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/humid.png" alt="icon">
                    <span>Humidity</span>
                </div>
                <div class="info-value">
                    {{weatherData.main.humidity}}%
                </div>
            </div>

            <div class="info-block">
                <div class="info-block-label">
                    <img src="../assets/wind.png" alt="icon">
                    <span>Wind</span>
                </div>
                <div class="info-value">
                    {{weatherData.wind.speed}} km/h
                </div>
            </div>
        </div>
    </div>

</div>